@import "../../../styles/variables.scss";

.filterPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -5px;
  position: absolute;
  width: 100%;
  top: -105px;
  .filters {
    display: flex;
    align-items: center;
    gap: 15px;
    .filterTag {
      background-color: $grayish-cyan;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding-left: 10px;
      border-radius: 5px;
      font-size: 1rem;
      color: $desaturated-dark-cyan;
      font-weight: bold;
      .removeButton {
        background-color: $desaturated-dark-cyan;
        padding: 8px;
        border-radius: 0px 5px 5px 0px;
        &:hover {
          background-color: $very-dark-grayish-cyan;
        }
      }
    }
  }
  .clearButton {
    font-size: 1rem;
    color: $very-dark-grayish-cyan;
    font-weight: bold;
    &:hover {
      color: $desaturated-dark-cyan;
      text-decoration: underline;
    }
  }
}
